
body {
font-size: 85%;
font-family: "georgia";
}
#header {
margin-top: 15px;
text-align: right;
}
.error_box {
background-color: #ffffcc;
border: 1px solid #dc143c;
color: #DC143C;
margin: 0 auto;
overflow: auto;
padding: 5px;
position: relative;
text-align: left;
width: 90%;
z-index: 5;
}
.icone-geante {
    /* Utilisez des pixels, 'em' ou 'rem' pour la taille désirée */
    font-size: 50px !important; 
    color: #8c2a38;
}
.product-list tbody tr td {
  border: none;
  padding: 0;
  width: 50%;
}
.product-list tbody tr td p img {
  border: 2px solid #c6e1ec;
  float: right;
  margin: 0 10px;
  vertical-align: top;
}
.product-title {
  border-left: 10px solid #0590C7;
  padding-left: 5px;
}
.section {
  display: block;
}
.price {
  font-weight: bold;
}
.old-price {
  color: #ff0000;
  font-weight: normal;
  text-decoration: line-through;
}